<div class="card">
  <!-- Barra de navegación -->
  <p-menubar [model]="items">
    <!-- Logo / branding -->
    <ng-template #start>
      <div class="flex items-center gap-3 px-4 py-2">
        <img src="assets/images/logo.png" alt="Logo" class="h-10 w-auto" />
        <span
          class="text-xl md:text-2xl font-semibold tracking-wide text-gray-800"
        >
          MI<span class="text-primary">DESPACHO</span>
        </span>
      </div>
    </ng-template>

    <!-- Elemento de usuario con menú -->
    <ng-template #end>
      <div
        class="flex items-center gap-2 relative"
        (click)="$event.stopPropagation()"
      >
        <div class="hidden md:flex flex-col text-right leading-tight">
          <span class="font-semibold">Maria Pérez</span>
          <span class="text-sm text-muted">Abogada</span>
        </div>
        <p-avatar
          class="cursor-pointer"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
          (click)="toggleUserMenu($event)"
        ></p-avatar>

        <p-tieredMenu #userMenu [model]="userItems" popup appendTo="body" />
      </div>
    </ng-template>

    <!-- Items -->
    <ng-template #item let-item let-root="root">
      <a
        pRipple
        class="flex items-center p-menubar-item-link"
        [routerLink]="item.routerLink"
      >
        <i [ngClass]="item.icon"></i>

        <span>{{ item.label }}</span>

        <i
          *ngIf="item.items"
          [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"
        ></i>
      </a>
    </ng-template>
  </p-menubar>
</div>
